<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
