<!DOCTYPE html>
<html>
  <head>
    <title>Depot Books Online Store</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "main">
     <%= image_tag 'logo.svg', alt:'The pragmatic bookshelf' %>
      <h1><%= @page_title %></h1>
    </header>

    <section class = "content">
      <nav class = "side_nav">
        <ul>
          <li><a href = "/"> Home </a></li>
          <li><a href = "/questions"> Questions </a></li>
          <li><a href = "/news"> News</a></li>
          <li><a href = "/contact"> Contact </a></li>
        </ul>
      </nav>
       
      <main <%= "class=#{controller.controller_name}" %> ​​>
       <%= yield %>
      </main>
    </section>
  </body>
</html>

 
    